/* CSS declarations go here */
html {
    overflow: hidden;
}

body{
    margin-bottom: 1px;
    background-color: white;
    height:100%;
    width: 100%;
    color: white;
    font-size: 137%;
    padding-top: 51px;
    background-color: rgba(6, 105, 117, 0.72);
}

.app-view{
    height: 100%;
    width: 100%;
}

.content-view {
    height: 100%;
    width: 100%;
}

.footer-view {
    background-color: #101010;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 999999;
    height: 25px;
}


h3, h5{
    color: black;
}